.nav{
  display: inline-flex;
}

.logo {
  float: left;
  display: inline-flex;
  width: 73px;
  height: 30px;
  margin: 16px 0px 16px 0;
  background-image: url(../public/8bits.svg);
}

.name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  display: inline-flex;
  padding-right: 20px;
  margin-left:5px;
}

.aboutBtn {
  border-radius: 5px;
  font-weight: 700;
}

.content {
  display: flex;
  align-items: center;
  padding: 0 50px;
  min-height: calc(100vh - 64px - 70px);
}

@media only screen and (max-width: 400px) {
  .content {
    padding: 0 20px;
  }
}

.shortner {
  width: 100%;
  background: #fff;
  padding: 24px 20px;
  border-radius: 6px;
}

.linkField {
  display: flex;
  width: 100%;
}

.linkFieldInput {
  flex: 100%;
  margin-right: 5px;
  border-radius: 20px;
}

.linkFieldButton {
  width: 120px;
}

.submitButton {
  border-radius: 5px;
  font-weight: 700;
}

.submitButton:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.copyButton {
  background-color: #4ade80;
  border-width: 2px;
  border-radius: 5px;
  border-color: #86efac;
  padding: 3px 10px;
  display: inline-flex;
  font-weight: 600;
}

.copyButton:hover {
  background-color: #86efac;
  border-width: 2px;
  border-radius: 5px;
  border-color: #86efac;
  display: inline-flex;
}

.copyIcon {
  height: 22px;
  width: 22px;
  padding: 2px;
  margin-right: 2px;
}

.footer {
  background: #001529;
  text-align: center;
  color: #fff;
}
.link {
  color: #00dd9b;
}
.link:hover {
  color: #ff7875;
}

@media (min-width: 750px) {
  .menubtn {
    margin-top: 20px;
    display: none;
  }
  .bigmenu {
    margin-top: 10px;
    right: 10px;
  }
}

@media (max-width: 750px) {
  .bigmenu {
    margin-top: 10px;
    display: none;
  }
  .menubtn {
    position: absolute;
    margin-top: 20px;
    right: 20px;
  }
}
